@page
@model BookingTicketOnline.Pages.User.ManageUsersModel
@{
	Layout = "_AdminLayout";
}

<div class="container my-5">
	<!-- Nút thêm người dùng -->
	<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-3">
		<div class="flex-shrink-0 mb-3 mb-md-0">
			<a class="btn btn-success" asp-page="/User/CreateUser">
				<i class="bi bi-person-plus-fill me-2"></i> Add New User
			</a>
		</div>
		<!-- Form tìm kiếm -->
		<form method="post" class="input-group w-100 w-md-50" asp-page-handler="Search">
			<input type="text" class="form-control" placeholder="Search by username or email" name="SearchTerm" value="@Model.SearchTerm" />
			<button class="btn btn-outline-secondary" type="submit">Search</button>
		</form>
	</div>
	<!-- Bộ lọc -->
	<form asp-page-hadler="Search" method="post">
		<div class="d-flex flex-column flex-md-row justify-content-end flex-wrap mb-4">
			<select class="form-select me-2 mb-2 mb-md-0" style="max-width: 200px;">
				<option selected>Select status</option>
				<option value="1">Active</option>
				<option value="2">Banned</option>
				<option value="3">Inactive</option>
			</select>
			<select class="form-select mb-2 mb-md-0" style="max-width: 200px;">
				<option selected>Select role</option>
				<option value="1">Admin</option>
				<option value="2">Staff</option>
				<option value="3">User</option>
				<option value="4">Movie Theater Owner</option>
			</select>
		</div>
	</form>
	<!-- Bảng danh sách người dùng -->
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead class="table-light">
				<tr>
					<th>UserID</th>
					<th>Username</th>
					<th>Email</th>
					<th>Status</th>
					<th>Role</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var user in Model.Users)
				{
						<tr>
							<td>@user.Id</td>
							<td>@user.FullName</td>
							<td>@user.Email</td>
							<td>
								<span class="badge @(user.Status == "Active" ? "bg-success" : user.Status == "Banned" ? "bg-danger" : "bg-secondary")">
								@user.Status
								</span>
							</td>
							<td>@user.Role?.RoleName</td>
							<td class="text-center">
								<a asp-page="/User/EditUser" asp-route-id="@user.Id"><i class="bi bi-pencil-square"></i></a>
								<a asp-page="/User/DeleteUser" asp-route-id="@user.Id"><i class="bi bi-trash-fill"></i></a>
							</td>
						</tr>
				}
			</tbody>
		</table>
	</div>
	<!--Page navigation-->
	<nav aria-label="Page navigation example" class="container">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
			<li class="page-item active"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	</nav>
</div>
