@page
@model BookingTicketOnline.Pages.Movie.MovieDetails2Model
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@Model.Movie.Title</title>
    <link rel="stylesheet" href="../css/styleMovieDetails2.css">
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/styleMovieDetails.css">
    <link rel="stylesheet" href="../css/bb.css">
    <style>
        .modal-backdrop.show {
            z-index: 0
        }

        @@media (min-width: 576px) {
            .modal-dialog {
                max-width: 892px;
                margin: 30px auto;
            }

            .modal-sm {
                max-width: 300px;
            }
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
           @* <nav class="sidebar">
                <a class="sidebar__brand" style="color:white; font-size:20px" asp-page="/Index">CineMatic</a>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="color:white; font-size:20px">
                            <div class="sidebar__icon">
                                <i class="fa fa-home" style="color:white; font-size:40px"></i>
                            </div>
                            <span class="sr-only" style="color:white; font-size:40px"> Trang chủ</span>
                        </a>
                    </li>
            </nav>  *@

      

            <main role="main" class="main" style="margin-left:0px">
                <!-- Add Font Awesome if not already included -->

                <nav class="navbar top-menu">
                    <ul class="navbar-nav d-flex flex-row w-100">
                        <li class="nav-item active">
                            <a class="nav-link" style="font-size: 15px; font-weight:bold" asp-page="/Index">Cinematic  <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 15px" asp-page="/Index">Phim mới </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 15px" asp-page="/Index">Phim đang chiếu </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 15px" asp-page="/News/ListNews">Tin tức</a>
                        </li>
                        <li class="nav-item ml-auto"></li>
                        <li class="nav-item" >
                            <a class="nav-link" style="font-size: 15px"  asp-page="/Login">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 15px" asp-page="/SignUp" >Đăng ký</a>
                        </li>
                    </ul>
                </nav>


                <!-- /.top-menu -->

                <div class="cast-container" style="background-image: url(../img/@Model.Movie.Poster)">
                    <div class="cast-wrap d-flex">
                        <div class="movie-poster">
                            <img src="../img/@Model.Movie.Poster" alt="" style="width: 255px; height: 378px;">


                            <a asp-page="/BookDate" class="btn btn-primary btn-lg btn-block"><i class="fa fa-television" aria-hidden="true"></i> Đặt vé </a>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#trailerMovie">
                                Trailer
                            </button>

                            <!-- Modal -->
                            <div class="modal fade bd-example-modal-lg" id="trailerMovie" tabindex="-1" role="dialog" aria-labelledby="trailerMovieLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="trailerMovieLabel">Trailer @Model.Movie.Title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe width="860" height="515" src="@Model.GetEmbedUrl(Model.Movie.TrailerUrl)" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.movie-poster -->
                        <div class="cast-info">
                            <div class="cast-name">
                                <h3>@Model.Movie.Title</h3>
                            </div>
                            <div class="cast-job">
                                <a href="#"><strong>Thể loại:</strong> @Model.Movie.Category?.Name</a> <br />
                            </div>
                            <div class="movie-social">
                                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Lưu phim</a>
                                <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i> Chia sẻ</a>
                            </div>
                            <div class="movie-rate">
                                <div class="movie-rate__point">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <p>
                                        <span>@Model.AverageRating.ToString("0.0")</span> / 10<br>
                                        <span class="rv">@Model.TotalReviews Đánh giá</span>
                                    </p>
                                </div>
                                <div class="movie-rate__rate-star">
                                    <p>Đánh giá phim: </p>
                                    @{
                                        int fullStars = (int)(@Model.AverageRating); // Calculate full stars (average rating scaled to 5)
                                        int halfStar = (@Model.AverageRating % 2 >= 0.5) ? 1 : 0; // Check if half-star should be added
                                        int emptyStars = 10 - fullStars - halfStar; // Calculate remaining empty stars
                                    }

                                    <!-- Display full stars -->
                                    @for (int i = 0; i < fullStars; i++)
                                    {
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    }

                                    <!-- Display half star if applicable -->
                                    @if (halfStar == 1)
                                    {
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    }

                                    <!-- Display empty stars -->
                                    @for (int i = 0; i < emptyStars; i++)
                                    {
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    }
                                </div>
                            </div>

                            <div class="cast-bio movie-nav-tabs">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Mô tả phim</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Đánh giá</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                        <a><strong>Ngày phát hành: </strong>@Model.Movie.ReleaseDate?.ToString("dd/MM/yyyy")</a>
                                        <br />
                                        <a><strong>Diễn viên: </strong>@Model.Movie.Actor</a>
                                        <br />
                                        <br />
                                        <p> @Model.Movie.Description</p>
                                    </div>
                                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                                        <p> @Model.Movie.Description</p>
                                        <iframe width="660" height="415" src="@Model.GetEmbedUrl(Model.Movie.TrailerUrl)" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                                        <img class="img-fluid" src="@Model.Movie.Poster" alt="">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments" style="margin-top: 5%">
                    <h2>Comments</h2>
                    <div class="comment-box">
                        <input type="text" placeholder="Leave a Comment">
                    </div>

                    <div class="users">
                        <div class="user">
                            <div class="profile">
                                <img src="../img/profile/nina.svg" alt="">
                            </div>
                            <div class="user-com">
                                <div class="info">
                                    <div class="name">
                                        <h4>Nia Rene</h4>
                                    </div>
                                    <div class="date">
                                        <p>25/01/2023 <span>11:36 PM</span></p>
                                    </div>
                                </div>
                                <div class="comment">
                                    <p>
                                        One of the greatest shows ever, the pacing is excellent. The characters are well developed and entertaining.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="user">
                            <div class="profile">
                                <img src="../img/profile/dannie.svg" alt="">
                            </div>
                            <div class="user-com">
                                <div class="info">
                                    <div class="name">
                                        <h4>Dannie Giles</h4>
                                    </div>
                                    <div class="date">
                                        <p>23/01/2023 <span>04:28 PM</span></p>
                                    </div>
                                </div>
                                <div class="comment">
                                    <p>
                                        I cannot stress enough how good this show is. I've watched a lot of TV in my life and this show still remains the best show I've ever seen.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="user">
                            <div class="profile">
                                <img src="../img/profile/ronnie.svg" alt="">
                            </div>
                            <div class="user-com">
                                <div class="info">
                                    <div class="name">
                                        <h4>Ronnie Joss</h4>
                                    </div>
                                    <div class="date">
                                        <p>20/01/2023 <span>09:18 AM</span></p>
                                    </div>
                                </div>
                                <div class="comment">
                                    <p class="warning">Warning: Spoiler</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div>
                        <h4>Movies</h4>
                        <h4>Animated Movies</h4>
                    </div>
                    <div>
                        <h4>Privacy Policy</h4>
                        <h4>Terms of Use</h4>
                    </div>
                    <div>
                        <h4>Help Center</h4>
                        <h4>FAQ</h4>
                    </div>
                    <div>
                        <h4>Follow Us</h4>
                        <h4>Support</h4>
                    </div>
                </footer>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/jquery-3.2.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/jquery.min.js"><\/script>')</script>
    <script src="../js/vendor/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>

